doctype html
html
  head
    title Split View Demo - Simulate https://photos.google.com/apps
    link(rel="stylesheet" href="../split-view.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")

    style.
      html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      header {
        height: 64px;
        background: #fff;
      }

      header img {
        width:48px;
        height: 48px;
        display: inline-block;
        margin: 6px;
      }

      nav {
        width: 320px;
        background: #4285f4;
        padding: 80px;
      }

      nav h1 {
        color: #fff;
        font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
        font-size: 34px;
        font-weight: lighter;
      }

      main {
        background: #3367d6;
        padding: 100px;
      }

      main img {
        width: 600px;
        height: 700px;
      }
  body
    split-view(horizontal)
      header
        img(src="https://lh5.ggpht.com/tq3WqEUxtRyBn-d_0t3j6WKNHuJDrmLq-FE3GAYrsAMQFIaS7FIgRLfzzql2SvfvLqto=w300")


      split-view(vertical, fill)
        nav
          h1 Back up a lifetime of photos

        main(fill)
          img(src="https://ssl.gstatic.com/social/photosui/images/google_photos_apps_illustration_2x.png")

    script(src="../split-view.js")