doctype html
html
  head
    title Split View Demo - Iterm Layout
    link(rel="stylesheet" href="../split-view.css")

    style.
      html, body {
        margin: 0; padding: 0;
        width: 100%; height: 100%;
        background: black;
        overflow: hidden;
        cursor: pointer;
      }

      section {
        font-family: monospace;
        font-size: 18px;
        color: yellow;
        padding: 10px;
        overflow: auto;
        min-width: 100px;
        min-width: 100px;
        min-height: 50px;
      }

      section span {
        color: #0056AD;
        display: inline-block; margin-right: 10px;
      }

      split-divider[thin] {
        background: #B8B8B8;
      }

      split-view[vertical] > split-divider[thin] {
        width: 1px;
      }

      split-view[horizontal] > split-divider[thin] {
        height: 1px;
      }

  body
    split-view(vertical)
      section(style="width: 50%")#log
        span ~$
        | echo "Panel 1. Resize to see events"

      split-divider(thin)

      split-view(horizontal, fill)

        section(style="height: 30%")
          span ~$
          | echo "Panel 2"

        split-divider(thin)

        section(style="height: 30%")
          span ~$
          | echo "Panel 3"

        split-divider(thin)

        section(fill)
          span ~$
          | echo "Panel 4"

    script(src="../split-view.js")
    script.
      var $log = document.getElementById("log")

      function log(name, detail) {
        $log.innerHTML += '<p>' + name + '. Detail:' + JSON.stringify(detail) + '</p>'
        $log.scrollTop += 99999
      }

      document.addEventListener("split-view:start", function(e) { log('Start', e.detail) })
      document.addEventListener("split-view:drag",  function(e) { log('Drag', e.detail)  })
      document.addEventListener("split-view:stop",  function(e) { log('Stop', e.detail)  })

