doctype html
html
  head
    title Split View Demo - Outlook
    link(rel="stylesheet" href="../split-view.css")

    style.
      html, body {
        margin: 0; padding: 0;
        width: 100%; height: 100%;
        overflow: hidden;
      }

      section {
        color: gray;
        font-size: 16px;
        padding: 10px;
        overflow: auto;
        min-width: 50px;
      }

      section.toolbar {
        height: 60px;
        background: #F6F6F6;
        border-bottom: 1px solid #CCC;
      }

      section.nav {
        background: #F6F6F6;
        width: 400px;
      }

      section.listing {
        height: 300px;
      }

      split-divider[thin] {
        background-color: #CCC;
      }

      split-view[vertical] > split-divider[thin] {
        width: 1px;
      }

      split-view[horizontal] > split-divider[thin] {
        height: 1px;
      }

  body
    split-view(horizontal)
      section.toolbar TOOLBAR

      split-view(vertical, fill)
        section.nav NAVIGATOR

        split-divider(thin)

        split-view(horizontal, fill)
          section.listing EMAIL LIST

          split-divider(thin)

          section(fill).reading READING PANEL

    script(src="../split-view.js")