doctype html
html
  head
    title Split View Demo - Sublime Text Layout
    link(rel="stylesheet" href="../split-view.css")

    style.
      html, body {margin: 0; padding: 0; width: 100%; height: 100%;}

      nav, section {
        color: gray;
        font-size: 16px;
        padding: 10px;
        overflow: auto;
        min-width: 50px;
      }

      nav {
        background-color: #E6E6E6;
        width: 250px;
        max-width: 400px;
      }

      section.left {
        width: calc(50% - 125px);
      }

      split-divider[thin],
      split-divider[wide] {
        background-color: #333;
      }

      /*split-view[vertical] > split-divider[wide] {
        width: 5px;
      }

      split-view[horizontal] > split-divider[wide] {
        height: 5px;
      }

      split-view[vertical] > split-divider[thin] {
        width: 1px;
      }

      split-view[horizontal] > split-divider[thin] {
        height: 1px;
      }*/


  body
    split-view(vertical)
      nav NAVIGATOR

      split-divider(wide)

      section.left LEFT PANEL

      split-divider(thin)

      section.right(fill) RIGHT PANEL

    script(src="../split-view.js")