doctype html
html
  head
    style.
      html, body {margin: 0; padding: 0; width: 100%; height: 100%;}

      split-view {
        display: flex;
        overflow: hidden;
      }

      split-view > [fill] {
        flex: 2;
      }

      split-divider {
        z-index: 0;
        display: flex;
      }

      split-view[vertical] {
        flex-flow: row; /* default value, can be removed */
        height: 100%;
      }

      split-view[vertical] > split-divider {
        width: 10px;
        background-color: transparent; /* can be removed */
        cursor: col-resize;
        margin-left: -5px;
        margin-right: -5px;
      }

      split-view[vertical] > split-divider[thick] {
        width: auto;
        margin-left: 0;
        margin-right: 0;

        /* customizable properties */
        background: green;
        width: 10px;
      }

      split-view[vertical] > split-divider[thin] {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 0;

        /* customizable properties */
        width: 2px;
        background: red;
      }

      /*
        :before element creates bigger range for resizing
      */
      split-view[vertical] > split-divider[thin]:before {
        content: '';
        width: 10px;
        height: 100%;
        position: absolute;
        left: -5px;
      }


      #v1 {background-color: #00b7be;}
      #v2 {background-color: yellow;}
      #v3 {background-color: #5a6f93;}
      #v4 {background-color: #d17b59;}
      #v5 {background-color: #16d005;}
      #v6 {background-color: #e512cf;}
      #v7 {background-color: #ff6eb0;}

  body
    split-view(vertical)
      #v1(style="width: 300px")

      split-divider

      #v2(fill)

      split-divider(thin)

      #v3(style="width: 250px")

      split-divider(thick)

      #v4(style="width: 200px")