body[split-view-row-resize] {
  cursor: row-resize; }

body[split-view-col-resize] {
  cursor: col-resize; }

split-view > [fill] {
  flex: 2; }

/*
  TODO: look at https://css-tricks.com/currentcolor/ to see if currentColor can be used
*/
split-divider {
  z-index: 0;
  display: flex; }

split-view {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  split-view > split-divider[thin] {
    align-items: center;
    justify-content: center;
    position: relative; }
  split-view > split-divider[thin]:before {
    content: '';
    position: absolute; }
  split-view > split-divider[wide] {
    width: auto; }
  split-view[vertical] {
    height: 100%; }
    split-view[vertical] > * {
      height: 100%; }
    split-view[vertical] > split-divider {
      width: 10px;
      cursor: col-resize;
      margin-left: -5px;
      margin-right: -5px; }
    split-view[vertical] > split-divider[wide] {
      margin-left: 0;
      margin-right: 0;
      width: 10px; }
    split-view[vertical] > split-divider[thin] {
      width: 1px;
      margin: 0; }
    split-view[vertical] > split-divider[thin]:before {
      width: 10px;
      height: 100%;
      top: 0;
      left: -5px; }
  split-view[horizontal] {
    flex-flow: column;
    width: 100%; }
    split-view[horizontal] > * {
      width: 100%; }
    split-view[horizontal] > split-divider {
      height: 10px;
      cursor: row-resize;
      margin-top: -5px;
      margin-bottom: -5px; }
    split-view[horizontal] > split-divider[wide] {
      margin-top: 0;
      margin-bottom: 0;
      height: 10px; }
    split-view[horizontal] > split-divider[thin] {
      height: 1px;
      margin: 0; }
    split-view[horizontal] > split-divider[thin]:before {
      height: 10px;
      width: 100%;
      top: -5px;
      left: 0; }
