$wideDividerThickness: 10px;
$thinDividerThickness:  1px;
$marginValue         : -$wideDividerThickness/2;

body {
  &[split-view-row-resize] {
    cursor: row-resize;
  }
  &[split-view-col-resize] {
    cursor: col-resize;
  }
}

split-view > [fill] {
  flex: 2;
}

/*
  TODO: look at https://css-tricks.com/currentcolor/ to see if currentColor can be used
*/
split-divider {
  z-index: 0;
  display: flex;
}

split-view {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;

  > split-divider[thin] {
    align-items: center;
    justify-content: center;
    position: relative;
  }

  > split-divider[thin]:before {
    content: '';
    position: absolute;
  }

  > split-divider[wide] {
    width: auto;
  }

  &[vertical] {
    height: 100%;

    > * {
      height: 100%;
    }

    > split-divider {
      width: $wideDividerThickness;
      cursor: col-resize;
      margin-left: $marginValue;
      margin-right: $marginValue;
    }

    > split-divider[wide] {
      margin-left: 0;
      margin-right: 0;
      width: $wideDividerThickness;
    }

    > split-divider[thin] {
      width: $thinDividerThickness;
      margin: 0;
    }

    > split-divider[thin]:before {
      width: $wideDividerThickness;
      height: 100%;
      top: 0;
      left: $marginValue;
    }
  }

  &[horizontal] {
    flex-flow: column;
    width: 100%;

    > * {
      width: 100%;
    }

    > split-divider {
      height: $wideDividerThickness;
      cursor: row-resize;
      margin-top: $marginValue;
      margin-bottom: $marginValue;
    }

    > split-divider[wide] {
      margin-top: 0;
      margin-bottom: 0;
      height: $wideDividerThickness;
    }

    > split-divider[thin] {
      height: $thinDividerThickness;
      margin: 0;
    }

    > split-divider[thin]:before {
      height: $wideDividerThickness;
      width: 100%;
      top: $marginValue;
      left: 0;
    }
  }
}